.ExportButton {
    border: 1px solid #ccc;
    font-size: 14px; 
    border-radius: 3px;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;
    background: #f8f8f8;
    text-align: center;
    color: #e1dfdd;
    margin: 5px 10px;
}